@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0 ;
    padding: 0;
    font-family: "Montserrat", serif;
}

span{
    color: rgb(251, 162, 79); 
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
}
.banner-content>h1{
    font-size: 60px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -2%;
}

.banner-content>p{
    color: rgb(130, 130, 130);
    font-size: 20px;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: -2%;
    margin: 20px 0;
}

.btn{
    padding: 19px 32px 19px 32px;
    border-radius: 100px;
    border: none;
    box-shadow: 0px 2px 30px 0px rgba(252, 143, 73, 0.5);
    background: linear-gradient(69.40deg, rgb(251, 162, 79) -6.919%,rgb(255, 30, 30) 144.985%);
    cursor: pointer;
    transition: 0.3s;
}

.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 90px;
    background: url(../images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-content>p{
    color: rgb(130, 130, 130);
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -2%;
    margin: 20px 0;
}

.about-content>h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: -2%;
}

.about-image>img{
    height: 500px;
}

.card{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.recipe-header{
    text-align: center;
    margin-top: 20px;
}
.recipe-header>h1{
    font-size: 47px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -2%;
}
.recipe-header>p{
    color: rgb(130, 130, 130);
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -2%;
    margin: 20px 0;
}

.recipe-card{
    width: 40%;
    /* height: 430px;
    width: 500px; */
    border-radius: 30px;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    align-items: center;
}

.recipe-card-item{
    text-align: center;
}

.recipe-card-item>h3{
    color: rgb(24, 25, 31);
    font-size: 24px;
    font-weight: 800;
    line-height: 38px;
    text-align: left;
    padding-left: 15px;
}

.recipe-card-item>p{
    color: rgb(24, 25, 31);
font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
padding: 10px 15px;

}

.recipe-card-item>img{
    width: 75%;
    /* height: 250px;
    width: 450px; */
    border-radius: 20px; 
    margin-top: 10px;   
}

.subs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 90px;
    height: 10rem;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
}
.subs-item>h1{
    font-size: 44px;
    font-weight: 700;
    line-height: 64px;
}
.subs-item>p{
font-size: 16px;
font-weight: 400;
line-height: 24px;
}
.footer{
    background: rgb(11, 13, 23);
    text-align: center;
    margin-top: 90px;
    color: white;
    height: 6rem;
}
.footer>h1{
    margin: 20px 10px;
}


/* responsive for mobile device */

@media screen and (max-width: 576px) {
    .banner{
        flex-direction: column-reverse;
    }

    .banner-content>h1{
        font-size: x-large;
    }
    .banner-content>p{
        font-size: medium;
    }

    .banner-image>img{
        width: 100%;
    }

    .about{
        flex-direction: column;
        text-align: center;
        margin-top: 80px;
    }

    .card{
        flex-direction: column;
        gap: 30px;
    }

    .recipe-card{
        width: 100%;
    }

    .subs{
        flex-direction: column;
        height: 20rem;
    }
}